mlflow==3.14.0
astunparse==1.6.3
dill==0.4.1
lz4==4.4.5
numpy==2.5.1
pandas==2.3.3
psutil==7.2.2
pyarrow==21.0.0
pytest==9.0.3
scikit-learn==1.7.2
scipy==1.16.3
skops==0.14.0
torch==2.8.0
tqdm==4.69.0